@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// VARIABLE
$text-poppins: "Poppins", sans-serif;
$text-caveat:   "Caveat", cursive;
$bg-primary: #F8FFD2;
$bg-secondary: #DF826C;
$navbar: #F1EB90;
$text-color1: crimson;
$text-color2: #860A35;



html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    body{
        background-color: $bg-primary;
        margin: 0;
        padding: 0;
    }
}

.nav-scroll{
    background-color: $navbar;
    transition: 0.4s;

}

nav{
    position: fixed;
    display: flex;
    width:100%;
    justify-content: space-between;
    padding: 0 5px 0 5px;
    z-index: 99;

    .sidebar{
        display: none;
    }

    .logo{
        width: 6rem;
        padding: 1rem;
        margin-right: 2rem;
    }
    .text-nav {
        display: flex;
        gap: 2rem;
        width: max-content;
        align-items: center;
        justify-content: center;
        margin-left: 4rem;
        a{
            text-decoration: none;
            font-weight: bold;
            color: $text-color1 ;
            font-size: 1.8rem;
            font-family: $text-poppins;
        }
    }
    .menu-nav{
        display: none;
    }

}

.hero{
    // background-image: url(../../img/bg.jpg);
    // background-size: cover;
    height: 100vh;
    display: flex;
    .text-hero{
        font-family: $text-caveat;
        font-weight: 700;
        font-style: normal; 
        color: $text-color1 ;
        margin-left: 5rem;
        padding-top: 13rem;
        margin-right: 6rem;
        h1{
            font-size: 7rem;
            margin: 0;
            line-height: 6rem;
        }
        p{
            font-size: 3rem;
            margin: 0;
            margin-bottom: 1.5rem;
        }
        h3{
            margin: 0;
            font-size: 1.5rem;
        }
        button{
            background-color: transparent;
            font-family: $text-poppins;
            padding: 5px 15px 5px 15px;
            font-size: 1rem;
            border-radius: 4px;
            margin-top: 1.5rem;
            margin-left: 10px;
            cursor: pointer;
            border-color: #6a7556;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.575);
        }
        button:hover{
            background-color: #b8ebb2;
            transition: 0.5s ease-out;
            transform: scale(1.1);
        }
    }
    .img-home{
        img{
            width: auto;
            height: 36rem;
            padding-top: 4rem;
        }
    }
}

.product{
    height: max-content;
    padding: 0;
    justify-content: center;
    background-color: $bg-primary;
    padding-bottom: 3rem;
    .judul-product{
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        text-align: center;
        justify-content: center;
        h1{
            margin: 0;
            font-size: 3rem;
            font-family: $text-poppins;
            color: $text-color1;
            span{
                border-bottom: 3px solid rgb(79, 214, 17);
            }
        }
    }   

    .stock{
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 3rem;
        
        .product1{
            background-image: url(../../img/bg-home-hp.png);
            background-size: cover;
            background-repeat: no-repeat;
            width: auto;
            border-radius: 15px;
            border: 5px solid rgb(109, 85, 54);
            background-color: rgb(18, 158, 158);
            display: flex;
            justify-content: end;
            .notif{
                position: absolute;
                margin: 0;
                z-index: 2;
                display: none;
                p{
                    padding: 5px 10px 5px 10px;
                    background-color: rgb(207, 133, 22);
                    margin-right: 1rem;
                    color: rgb(158, 102, 38);
                    font-family: $text-poppins;
                    font-weight: bold;
                    border-radius: 15px;
                }
            }
            .img-product{
                position: relative;
                padding: 2rem 3rem 2rem 3rem;
                img{
                    width: 13rem;
                    height: auto;
                    border-radius: 15px;
                    backdrop-filter: shadow(20px 20px black);
                }
                img:hover{
                    transform: scale(1.1);
                    transition: 0.5s;
                }
            }
        }
    }

}

.footer{
    font-family: $text-poppins;
    height: max-content;
    padding: 3rem 0 2rem 0;
    background-color: $bg-secondary; 
    .container{
        display: flex;
        width: 100%;
        height: 21rem;
        .contentFooter1{
            width: 50%;
            height: 100%;
            color: $text-color2;
            h1{
                margin: 0;
                font-size: 2rem;
                padding-left: 2rem;

            }
            p{
                padding: 0 2rem 0 2rem;
                font-size: 1.8rem;
                font-family: $text-caveat;
            }
            .copyright{
                font-weight: bold;
                font-family: $text-poppins;
                font-size: 1.4rem;
                display: flex;
            }
        }

        .garis-footer{
            width: 3px;
            height: 80%;
            margin: 3rem 0 1rem 0;
            background-color: #3c4047;
        }

        .contentFooter2{
            width: 50%;
            color: $text-color2;
            h1{
                margin: 0;
                font-size: 2rem;
                padding-left: 2rem;
            }
            .container-icons{
                width: 100%;
                flex-wrap: wrap;
                display: flex;
                .icons{
                    margin-top: 2rem;
                    padding: 0 1rem 0 1rem;
                    width: max-content;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                    
                    span{
                        width: 15rem;
                        display: flex;
                        text-align: start;
                        a{
                            font-size:4rem;
                            color: black;
                            margin: 1rem;
                            i{
                                color: $text-color2;
                                margin: 0;
                            }
                        }
                        p{
                            font-size: 1.2rem;
                            margin: 0;
                            display: flex;
                            align-items: center;
                        }

                    }

                }
            }
        }
    }
}






@media (max-width: 768px) {
    nav{
        width: 100%;
        .sidebar{
            position: fixed;
            top: 0;
            right: 0;
            width: 250px;
            z-index: 999;
            background-color: #26644a3a;
            backdrop-filter: blur(10px);
            box-shadow: -10px 0 10px rgba(0, 0, 0, 0.185);
            display: flex;
            flex-direction: column;
            height: 100%;
            animation: alternate;
            .top{
                display: flex;
                color: #6a7556;
                i{
                    font-size: 2.4rem;
                    align-items: center;
                    display: flex;
                    padding: 1rem;
                    cursor: pointer;
                }
                h1{
                    text-align: center;
                    font-size: 2rem;
                    font-family: $text-poppins;  
                }
            }
            a{
                text-decoration: none;
                color: $text-color1;
                font-size: 2.5rem;
                padding-left: 1.5rem ;
                margin-bottom: 1.7rem;
                align-items: center;
                font-family: $text-caveat;
                font-weight: 600;
            }
            a:hover{
                text-shadow: 3px 3px 9px rgb(207, 184, 184);
            }
        }
        .logo{
            width: 4rem;
            margin-left: 1rem;
        }
        .text-nav{
            display: none;
        }
        .menu-nav{
            display: flex;
            font-size: 3rem;
            cursor: pointer;
            align-items: center;
            padding-right: 2rem;
        }

    }
    .hero{
        display: flex;
        .text-hero{
            position: absolute;
            padding-top: 10rem;
            z-index: 2;
            padding-left: 1rem;
            margin-left: 2rem;
            h1{
                font-size: 5rem;
                font-weight: 700;
            }
            p{
                padding-left: 10px;
                font-size: 2rem;
                span{
                    border-bottom: 2px solid rgb(167, 110, 110);
                }
            }
            h3{
                padding-left: 10px;
                font-size: 1.2rem;
            }
            button{
                background-color: transparent;
                font-family: $text-poppins;
                padding: 5px 15px 5px 15px;
                font-size: 1rem;
                border-radius: 4px;
                margin-top: 1.5rem;
                margin-left: 10px;
                cursor: pointer;
            }
            button:hover{
                background-color: #80B3FF;
                transition: 0.5s ease-out;
                transform: scale(1.1);
            }
        }
        .img-home{
            display: none;
        }
    }

    .footer{
        background-color: $bg-secondary;
        justify-content: center;
        text-align: center;
        height: 130vh;
        display: flex;
        flex-direction: row;
        
        .container {
            display: block;
            .contentFooter1{
                width: 100%;
                text-align: center;
                height: max-content;
                padding-bottom: 2rem;
                h1{
                    padding-left: 0;
                }
                p{
                    font-size: 1.4rem;
                    padding: 0 2rem 0 2rem;
                }
                .copyright{
                    font-weight: bold;
                    text-align: center;
                    justify-content: center;
                    font-size: 0.9rem;
                    width: auto ;
                }
            }

            .garis-footer{
                width: 80%;
                height: 2px;
                justify-content: center;
                display: flex;
                margin: auto;
            }

            .contentFooter2{
                width: auto; 
                padding-top:2rem;
                h1{
                    padding-left: 0;
                }
                .container-icons{
                    text-align: center;
                    width: auto;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin-top: 0.6rem;
                    display: flex;
                    .icons{
                        height: max-content; 
                        justify-content: start;
                        display: flex;
                        flex-wrap: wrap;
                        width: max-content;
                        span{
                            width: max-content;
                            a{
                                margin: 0 1rem 0 1rem;
                                font-size: 2rem;
                                color: black;
                                i{
                                    margin: 0;
                                }
                            }
                            p{
                                font-size: 0.5rem;
                                margin: 0;
                            }

                        }

                    }
                }
            }
        }
    }
}
