@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html body {
  background-color: #F8FFD2;
  margin: 0;
  padding: 0;
}

.nav-scroll {
  background-color: #F1EB90;
  transition: 0.4s;
}

nav {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 5px 0 5px;
  z-index: 99;
}
nav .sidebar {
  display: none;
}
nav .logo {
  width: 6rem;
  padding: 1rem;
  margin-right: 2rem;
}
nav .text-nav {
  display: flex;
  gap: 2rem;
  width: -moz-max-content;
  width: max-content;
  align-items: center;
  justify-content: center;
  margin-left: 4rem;
}
nav .text-nav a {
  text-decoration: none;
  font-weight: bold;
  color: crimson;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
}
nav .menu-nav {
  display: none;
}

.hero {
  height: 100vh;
  display: flex;
}
.hero .text-hero {
  font-family: "Caveat", cursive;
  font-weight: 700;
  font-style: normal;
  color: crimson;
  margin-left: 5rem;
  padding-top: 13rem;
  margin-right: 6rem;
}
.hero .text-hero h1 {
  font-size: 7rem;
  margin: 0;
  line-height: 6rem;
}
.hero .text-hero p {
  font-size: 3rem;
  margin: 0;
  margin-bottom: 1.5rem;
}
.hero .text-hero h3 {
  margin: 0;
  font-size: 1.5rem;
}
.hero .text-hero button {
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  padding: 5px 15px 5px 15px;
  font-size: 1rem;
  border-radius: 4px;
  margin-top: 1.5rem;
  margin-left: 10px;
  cursor: pointer;
  border-color: #6a7556;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.575);
}
.hero .text-hero button:hover {
  background-color: #b8ebb2;
  transition: 0.5s ease-out;
  transform: scale(1.1);
}
.hero .img-home img {
  width: auto;
  height: 36rem;
  padding-top: 4rem;
}

.product {
  height: -moz-max-content;
  height: max-content;
  padding: 0;
  justify-content: center;
  background-color: #F8FFD2;
  padding-bottom: 3rem;
}
.product .judul-product {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  text-align: center;
  justify-content: center;
}
.product .judul-product h1 {
  margin: 0;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  color: crimson;
}
.product .judul-product h1 span {
  border-bottom: 3px solid rgb(79, 214, 17);
}
.product .stock {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 3rem;
}
.product .stock .product1 {
  background-image: url(../../img/bg-home-hp.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  border-radius: 15px;
  border: 5px solid rgb(109, 85, 54);
  background-color: rgb(18, 158, 158);
  display: flex;
  justify-content: end;
}
.product .stock .product1 .notif {
  position: absolute;
  margin: 0;
  z-index: 2;
  display: none;
}
.product .stock .product1 .notif p {
  padding: 5px 10px 5px 10px;
  background-color: rgb(207, 133, 22);
  margin-right: 1rem;
  color: rgb(158, 102, 38);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  border-radius: 15px;
}
.product .stock .product1 .img-product {
  position: relative;
  padding: 2rem 3rem 2rem 3rem;
}
.product .stock .product1 .img-product img {
  width: 13rem;
  height: auto;
  border-radius: 15px;
  -webkit-backdrop-filter: shadow(20px 20px black);
          backdrop-filter: shadow(20px 20px black);
}
.product .stock .product1 .img-product img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.footer {
  font-family: "Poppins", sans-serif;
  height: -moz-max-content;
  height: max-content;
  padding: 3rem 0 2rem 0;
  background-color: #DF826C;
}
.footer .container {
  display: flex;
  width: 100%;
  height: 21rem;
}
.footer .container .contentFooter1 {
  width: 50%;
  height: 100%;
  color: #860A35;
}
.footer .container .contentFooter1 h1 {
  margin: 0;
  font-size: 2rem;
  padding-left: 2rem;
}
.footer .container .contentFooter1 p {
  padding: 0 2rem 0 2rem;
  font-size: 1.8rem;
  font-family: "Caveat", cursive;
}
.footer .container .contentFooter1 .copyright {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  display: flex;
}
.footer .container .garis-footer {
  width: 3px;
  height: 80%;
  margin: 3rem 0 1rem 0;
  background-color: #3c4047;
}
.footer .container .contentFooter2 {
  width: 50%;
  color: #860A35;
}
.footer .container .contentFooter2 h1 {
  margin: 0;
  font-size: 2rem;
  padding-left: 2rem;
}
.footer .container .contentFooter2 .container-icons {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}
.footer .container .contentFooter2 .container-icons .icons {
  margin-top: 2rem;
  padding: 0 1rem 0 1rem;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.footer .container .contentFooter2 .container-icons .icons span {
  width: 15rem;
  display: flex;
  text-align: start;
}
.footer .container .contentFooter2 .container-icons .icons span a {
  font-size: 4rem;
  color: black;
  margin: 1rem;
}
.footer .container .contentFooter2 .container-icons .icons span a i {
  color: #860A35;
  margin: 0;
}
.footer .container .contentFooter2 .container-icons .icons span p {
  font-size: 1.2rem;
  margin: 0;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  nav {
    width: 100%;
  }
  nav .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    z-index: 999;
    background-color: rgba(38, 100, 74, 0.2274509804);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.185);
    display: flex;
    flex-direction: column;
    height: 100%;
    animation: alternate;
  }
  nav .sidebar .top {
    display: flex;
    color: #6a7556;
  }
  nav .sidebar .top i {
    font-size: 2.4rem;
    align-items: center;
    display: flex;
    padding: 1rem;
    cursor: pointer;
  }
  nav .sidebar .top h1 {
    text-align: center;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
  }
  nav .sidebar a {
    text-decoration: none;
    color: crimson;
    font-size: 2.5rem;
    padding-left: 1.5rem;
    margin-bottom: 1.7rem;
    align-items: center;
    font-family: "Caveat", cursive;
    font-weight: 600;
  }
  nav .sidebar a:hover {
    text-shadow: 3px 3px 9px rgb(207, 184, 184);
  }
  nav .logo {
    width: 4rem;
    margin-left: 1rem;
  }
  nav .text-nav {
    display: none;
  }
  nav .menu-nav {
    display: flex;
    font-size: 3rem;
    cursor: pointer;
    align-items: center;
    padding-right: 2rem;
  }
  .hero {
    display: flex;
  }
  .hero .text-hero {
    position: absolute;
    padding-top: 10rem;
    z-index: 2;
    padding-left: 1rem;
    margin-left: 2rem;
  }
  .hero .text-hero h1 {
    font-size: 5rem;
    font-weight: 700;
  }
  .hero .text-hero p {
    padding-left: 10px;
    font-size: 2rem;
  }
  .hero .text-hero p span {
    border-bottom: 2px solid rgb(167, 110, 110);
  }
  .hero .text-hero h3 {
    padding-left: 10px;
    font-size: 1.2rem;
  }
  .hero .text-hero button {
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    padding: 5px 15px 5px 15px;
    font-size: 1rem;
    border-radius: 4px;
    margin-top: 1.5rem;
    margin-left: 10px;
    cursor: pointer;
  }
  .hero .text-hero button:hover {
    background-color: #80B3FF;
    transition: 0.5s ease-out;
    transform: scale(1.1);
  }
  .hero .img-home {
    display: none;
  }
  .footer {
    background-color: #DF826C;
    justify-content: center;
    text-align: center;
    height: 130vh;
    display: flex;
    flex-direction: row;
  }
  .footer .container {
    display: block;
  }
  .footer .container .contentFooter1 {
    width: 100%;
    text-align: center;
    height: -moz-max-content;
    height: max-content;
    padding-bottom: 2rem;
  }
  .footer .container .contentFooter1 h1 {
    padding-left: 0;
  }
  .footer .container .contentFooter1 p {
    font-size: 1.4rem;
    padding: 0 2rem 0 2rem;
  }
  .footer .container .contentFooter1 .copyright {
    font-weight: bold;
    text-align: center;
    justify-content: center;
    font-size: 0.9rem;
    width: auto;
  }
  .footer .container .garis-footer {
    width: 80%;
    height: 2px;
    justify-content: center;
    display: flex;
    margin: auto;
  }
  .footer .container .contentFooter2 {
    width: auto;
    padding-top: 2rem;
  }
  .footer .container .contentFooter2 h1 {
    padding-left: 0;
  }
  .footer .container .contentFooter2 .container-icons {
    text-align: center;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0.6rem;
    display: flex;
  }
  .footer .container .contentFooter2 .container-icons .icons {
    height: -moz-max-content;
    height: max-content;
    justify-content: start;
    display: flex;
    flex-wrap: wrap;
    width: -moz-max-content;
    width: max-content;
  }
  .footer .container .contentFooter2 .container-icons .icons span {
    width: -moz-max-content;
    width: max-content;
  }
  .footer .container .contentFooter2 .container-icons .icons span a {
    margin: 0 1rem 0 1rem;
    font-size: 2rem;
    color: black;
  }
  .footer .container .contentFooter2 .container-icons .icons span a i {
    margin: 0;
  }
  .footer .container .contentFooter2 .container-icons .icons span p {
    font-size: 0.5rem;
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */